$gray-100: rgba(255, 255, 255, 0.1);
$gray-200: rgba(255, 255, 255, 0.2);

$body-background: #151515;
$body-font-color: #fff;

$color-link: rgb(30, 165, 255);
$color-visited-link: #b88dff;

$icon-filter: brightness(0) invert(1);

